body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
}

/* NAVBAR */
.navbar {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo { width: 55px; }

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.brand {
    font-size: 15px;
    line-height: 18px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.signin-btn {
    padding: 10px 25px;
    background: #00c896;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

/* COURSES */
.courses {
    padding: 80px 60px;
}

.courses-title {
    font-size: 48px;
    margin-bottom: 40px;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

/* COURSE CARD */
.course-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.course-card {
    width: 30%;
    background: #111;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.course-img {
    width: 100%;
    display: block;
    pointer-events: none;
}

.course-body {
    padding: 20px;
}

.course-body h2 {
    font-size: 20px;
}

/* TAGS */
.tag {
    display: inline-block;
    padding: 4px 10px;
    background: #222;
    border-radius: 5px;
    margin: 5px 5px 15px 0;
    font-size: 13px;
}

.tag.red { background: #b62828; }

.discount-text {
    color: #00d1a0;
}

/* PRICE */
.price-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.price { font-size: 20px; }

.old-price {
    color: #777;
    text-decoration: line-through;
}

.off {
    background: #fff;
    color: #000;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;
}

/* BUTTON */
.details-btn {
    margin-top: 15px;
    padding: 14px;
    background: #00d1a0;
    color: #000;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .courses-container {
        flex-direction: column;
    }

    .course-card {
        width: 100%;
    }
}
.course-card * {
    pointer-events: auto !important;
}

.course-card::before,
.course-card::after {
    content: none !important;
}

.details-btn {
    position: relative !important;
    z-index: 9999 !important;
}
