body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Arial;
}

.signin-container {
    background: #111;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.logo {
    width: 80px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #222;
    border: none;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    background: #00c896;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
