<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sheryians{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="nav-left">
        <img src="{% static 'images/logo.png' %}" class="logo">
        <span class="brand">Sheryians<br>coding school</span>
    </div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Bootcamps</a></li>
        <li><a href="#">Request Callback</a></li>
    </ul>

    <a href="{% url 'signin' %}" class="signin-btn">Sign In</a>
</nav>

{% block content %}{% endblock %}

</body>
</html>
